<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width" content="initial-scale=1">
<!-- <link rel="icon" href="{{vyfile.baseurl}}/static/img/vy.png" /> -->
<!-- <link rel="stylesheet" href="{{vyfile.baseurl}}/static/css/normalize.css" type="text/css"> -->
<link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
<link rel="stylesheet" href="{{vyfile.baseurl}}/static/css/style.css" type="text/css">
<link rel="stylesheet" href="{{vyfile.baseurl}}/static/css/base16-eighties.dark.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet"> 
<title>{{title}}</title>
</head>