<html>
{{>head}}
<body>
{{>nav}}
<h1>Posts</h1>
<p>
  Tiny posts.
</p>
{{content_type}}
{{#items}}
<ul>
    <li>{{date}} | <a href="{{url}}">{{title}}</a></li>
</ul>
{{/items}}
{{{content}}}
{{>foot}}
</body>
</html>
