/*

    Name:       Base16 Eighties Dark
    Author:     Chris Kempson (http://chriskempson.com)

    Pygments template by Jan T. Sott (https://github.com/idleberg)
    Created with Base16 Builder by Chris Kempson (https://github.com/chriskempson/base16-builder)

*/
.codehilite .hll { background-color: #0b0d10 }
.codehilite  { background: #0b0d10; color: #f2f0ec }
.codehilite .c { color: #747369 } /* Comment */
.codehilite .err { color: #f2777a } /* Error */
.codehilite .k { color: #cc99cc } /* Keyword */
.codehilite .l { color: #f99157 } /* Literal */
.codehilite .n { color: #f2f0ec } /* Name */
.codehilite .o { color: #66cccc } /* Operator */
.codehilite .p { color: #f2f0ec } /* Punctuation */
.codehilite .cm { color: #747369 } /* Comment.Multiline */
.codehilite .cp { color: #747369 } /* Comment.Preproc */
.codehilite .c1 { color: #747369 } /* Comment.Single */
.codehilite .cs { color: #747369 } /* Comment.Special */
.codehilite .gd { color: #f2777a } /* Generic.Deleted */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .gh { color: #f2f0ec; font-weight: bold } /* Generic.Heading */
.codehilite .gi { color: #99cc99 } /* Generic.Inserted */
.codehilite .gp { color: #747369; font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #66cccc; font-weight: bold } /* Generic.Subheading */
.codehilite .kc { color: #cc99cc } /* Keyword.Constant */
.codehilite .kd { color: #cc99cc } /* Keyword.Declaration */
.codehilite .kn { color: #66cccc } /* Keyword.Namespace */
.codehilite .kp { color: #cc99cc } /* Keyword.Pseudo */
.codehilite .kr { color: #cc99cc } /* Keyword.Reserved */
.codehilite .kt { color: #ffcc66 } /* Keyword.Type */
.codehilite .ld { color: #99cc99 } /* Literal.Date */
.codehilite .m { color: #f99157 } /* Literal.Number */
.codehilite .s { color: #99cc99 } /* Literal.String */
.codehilite .na { color: #6699cc } /* Name.Attribute */
.codehilite .nb { color: #f2f0ec } /* Name.Builtin */
.codehilite .nc { color: #ffcc66 } /* Name.Class */
.codehilite .no { color: #f2777a } /* Name.Constant */
.codehilite .nd { color: #66cccc } /* Name.Decorator */
.codehilite .ni { color: #f2f0ec } /* Name.Entity */
.codehilite .ne { color: #f2777a } /* Name.Exception */
.codehilite .nf { color: #6699cc } /* Name.Function */
.codehilite .nl { color: #f2f0ec } /* Name.Label */
.codehilite .nn { color: #ffcc66 } /* Name.Namespace */
.codehilite .nx { color: #6699cc } /* Name.Other */
.codehilite .py { color: #f2f0ec } /* Name.Property */
.codehilite .nt { color: #66cccc } /* Name.Tag */
.codehilite .nv { color: #f2777a } /* Name.Variable */
.codehilite .ow { color: #66cccc } /* Operator.Word */
.codehilite .w { color: #f2f0ec } /* Text.Whitespace */
.codehilite .mf { color: #f99157 } /* Literal.Number.Float */
.codehilite .mh { color: #f99157 } /* Literal.Number.Hex */
.codehilite .mi { color: #f99157 } /* Literal.Number.Integer */
.codehilite .mo { color: #f99157 } /* Literal.Number.Oct */
.codehilite .sb { color: #99cc99 } /* Literal.String.Backtick */
.codehilite .sc { color: #f2f0ec } /* Literal.String.Char */
.codehilite .sd { color: #747369 } /* Literal.String.Doc */
.codehilite .s2 { color: #99cc99 } /* Literal.String.Double */
.codehilite .se { color: #f99157 } /* Literal.String.Escape */
.codehilite .sh { color: #99cc99 } /* Literal.String.Heredoc */
.codehilite .si { color: #f99157 } /* Literal.String.Interpol */
.codehilite .sx { color: #99cc99 } /* Literal.String.Other */
.codehilite .sr { color: #99cc99 } /* Literal.String.Regex */
.codehilite .s1 { color: #99cc99 } /* Literal.String.Single */
.codehilite .ss { color: #99cc99 } /* Literal.String.Symbol */
.codehilite .bp { color: #f2f0ec } /* Name.Builtin.Pseudo */
.codehilite .vc { color: #f2777a } /* Name.Variable.Class */
.codehilite .vg { color: #f2777a } /* Name.Variable.Global */
.codehilite .vi { color: #f2777a } /* Name.Variable.Instance */
.codehilite .il { color: #f99157 } /* Literal.Number.Integer.Long */