@use "sass:color"; 
@import "tachyons-sass/tachyons.scss";


// colors from terminal.sexy
.vy-color-bg {
    background-color: #0b0d10,
}
.vy-color-fg {
    color: #cbcfd7,
}

$vycolors: (
    "0": #14161a,
    "1":#1c1f24,
    "2":#2c3037,
    "3":#434751,
    "4":#5f6572,
    "5":#81899b,
    "6":#adb3c0,
    "7":#e0e2e7,
    "8":#fca0a3,
    "9":#fa94f6,
    "10":#d7c070,
    "11":#6be1df,
    "12":#fcc7c9,
    "13":#faa9ac,
    "14":#f4d87d,
    "15":#80aaeb
);

$age-colors: (
    // "0": #1c1f24,
    "0": color.change(#6be1df, $alpha: 0.3),
    "1": color.change(#6be1df, $alpha: 0.2),
    "2": color.change(#6be1df, $alpha: 0.1),
);

@each $id, $color in $vycolors {
    .vy-color-#{$id} {
        color: #{$color};
    }
}

// automated age colors
@each $id, $color in $age-colors {
    .age-#{$id} {
        @extend .br1, .pa3;
        background-color: #{$color};
    }
}


// end colors

a {
    @extend .vy-color-8, .no-underline;
}
a:hover {
    @extend .vy-color-9;
}

pre {
    @extend  .pa1, .br4;
    background: #1c1f24;
}
body {
    @extend .center, .mw7, .measure-wide, .f5, .vy-color-fg, .vy-color-bg, .pa1;
    font-family: "PT Mono", "monospace";
    // @extend tachyons, .h1;
}